<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Tech Store - Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <h1>Tech Store - Produtos em Estoque</h1>

    <div class="nav-links">
        <a href="{{ url_for('adicionar_produto') }}">➕ Adicionar Produto</a>
    </div>

    <ul>
        {% for produto in produtos %}
            <li>
                <div>
                    <strong>{{ produto.nome }}</strong> <br>
                    Categoria: {{ produto.categoria }} <br>
                    Preço: R$ {{ produto.preco }} <br>
                    Quantidade: {{ produto.quantidade }}
                </div>
                <div>
                    <form action="{{ url_for('remover_produto', nome=produto.nome) }}" method="POST" style="display:inline;">
                        <button type="submit">🗑 Remover</button>
                    </form>
                    <a href="{{ url_for('atualizar_produto', nome=produto.nome) }}">✏ Atualizar</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>