body {
    font-family: Arial, sans-serif;
    background-color: #587B7F;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-top: 0px;
    padding: 20px;
}

header {
    background-color: #393E41;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

header h1 {
    color: white;
    font-size: 24px;
    margin: 0 0 10px 0;
}

header .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

header .search-bar input[type="text"] {
    padding: 8px 12px;
    border: 1px solid #1F2421;
    border-radius: 4px;
    font-size: 14px;
    width: 300px;
}

header .search-bar button {
    padding: 8px 20px;
    border: none;
    background-color: #587B7F;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: bold;
}

header .search-bar button:hover {
    background-color: #9CC5A1;
}

.main-interno {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabela-adcionar {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 700px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tabela-adcionar label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.tabela-adcionar input[type="text"],
.tabela-adcionar input[type="number"],
.tabela-adcionar select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    box-sizing: border-box;
}

.tabela-adcionar button {
    width: 100%;
    padding: 10px;
    background-color: #587B7F;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.tabela-adcionar button:hover {
    background-color: #9CC5A1;
}

.voltar-painel {
    display: inline-block;
    margin: 30px auto 0 auto;
    padding: 10px 20px;
    background-color: #393E41;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
    align-items: center;
}

.voltar-painel:hover {
    background-color: #9CC5A1;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    header .search-bar {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
}