<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Produto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/style/style_atualizar.css') }}">
</head>
<body>
    <header>
        <h1>Atualizar Produto</h1>
        <div class="search-bar">
            <form action="{{ url_for('buscar_produto') }}" method="GET">
                <input type="text" name="nome" placeholder="Buscar produto...">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </header>
    <main>
        <div class="main-interno">
            <div class="tabela-atualizar">
                <h1>Atualizar Produto: {{ produto.nome }}</h1>
                <form method="POST">
                    <label for="novo_nome">Novo Nome:</label>
                    <input type="text" id="novo_nome" name="novo_nome" value="{{ produto.nome }}">

                    <label for="categoria">Nova Categoria:</label>
                    <select id="categoria" name="categoria" required>
                        <option value="">Selecione uma categoria</option>
                        <option value="Hardware" {% if produto.categoria == 'Hardware' %}selected{% endif %}>Hardware</option>
                        <option value="Acessórios" {% if produto.categoria == 'Acessórios' %}selected{% endif %}>Acessórios</option>
                        <option value="Tablet" {% if produto.categoria == 'Tablet' %}selected{% endif %}>Tablet</option>
                        <option value="Telemóvel" {% if produto.categoria == 'Telemóvel' %}selected{% endif %}>Telemóvel</option>
                        <option value="Portátil" {% if produto.categoria == 'Portátil' %}selected{% endif %}>Portátil</option>
                        <option value="Desktop" {% if produto.categoria == 'Desktop' %}selected{% endif %}>Desktop</option>
                    </select><br>

                    <label for="preco">Novo Preço:</label>
                    <input type="number" id="preco" name="preco" step="0.01" value="{{ produto.preco }}">

                    <label for="quantidade">Nova Quantidade:</label>
                    <input type="number" id="quantidade" name="quantidade" value="{{ produto.quantidade }}">

                    <button type="submit">Atualizar Produto</button>
                </form>
            </div>
            <div>
                <a href="{{ url_for('admin_index') }}" class="voltar-painel">Voltar para o Painel</a>
            </div>
        </div>
    </main>
    
</body>
</html>